.spinner {
    position: absolute;
    top: 50%;
    left: 85%;
  width: 60px;
  z-index: 99999;
  height: 60px;
  border: 4px solid rgba(0, 0, 0, 0.2);
  border-top: 4px solid #ffffff;
  background-color: #000000;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
